<div class="col-12  text-center">
    <img src="../../../assets/img/logo.png" class="img-fluid" alt="Responsive image">
</div>

<div class="col-12 justify-content-center border-top border-bottom">
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav txt-tam ">
                <a class="nav-item nav-link" [routerLink]="['home']" href="#">Inicio<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" [routerLink]="['novedades']" href="#">Novedades</a>
                <a class="nav-item nav-link" [routerLink]="['afiliacion']" href="#">Quiero Afiliarme</a>
                <a class="nav-item nav-link" href="#">Beneficios</a>
                <a class="nav-item nav-link" href="#">Atencion al Afiliado</a>
                <a class="nav-item nav-link" href="#">Contactos</a>
            </div>
        </div>
    </nav>
</div>